/* CategoriesPage */

.categoriesPage {
    padding: 100px 0;
}

.categoriesPage__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.categoriesPage__mobile {
    display: none;
}

.categoriesPage__mobile-list {
    display: none;
}

/* Media Query */

@media (max-width: 1260px) {
    .categoriesPage__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .categoriesPage__list {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    .categoriesPage__list {
        grid-template-columns: 1fr;
    }

    .categoriesPage {
        padding: 50px 0;
    }
}

@media (max-width: 500px) {
    .categoriesPage__list {
        display: none;
    }

    .categoriesPage__mobile {
        display: block;
    }

    .categoriesPage__mobile-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }

    .categoriesPage__mobile-item {
        display: grid;
        grid-template-rows: 72px 1fr;
        justify-items: center;
        cursor: pointer;
    }

    .categoriesPage__mobile-imgWrapper {
        width: 98px;
        height: 72px;
    }

    .categoriesPage__mobile-imgWrapper img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .categoriesPage__mobile-text {
        text-align: center;
        margin-top: 10px;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
    }
}