/* Contacts */

.contacts {
    background: #FF7A00;
    padding: 30px 0;
}

.contacts.mb-100 {
    margin-bottom: 100px;
}

.contacts__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__left {
    margin-left: 80px;
}

.contacts__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 139%;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.contacts__subtitle {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.contacts input {
    width: 180px;
    height: 36px;
    padding: 9px 15px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

.contacts input {
    display: inline-block;
    margin-right: 20px;
}

.contacts__btn {
    width: 180px;
    height: 36px;
    background: #27282C;
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.contacts input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: #C4C4C4;
}

/* Media Query */

@media (max-width: 1270px) {
    .contacts__right form {
        display: flex;
        flex-direction: column;
    }
    .contacts__right-number {
        margin: 10px 0;
    }
}

@media (max-width: 850px) {
    .contacts__left {
        margin-left: 0;
        margin-right: 10px;
    }
}

@media (max-width: 600px) {
    .contacts {
        padding: 40px 20px;
    }
    .contacts__inner {
        flex-direction: column;
    }
    .contacts__title {
        text-align: center;
        margin-bottom: 10px;
    }
    .contacts__subtitle {
        text-align: center;
        margin-bottom: 20px;
    }
    .contacts__left {
        margin-right: 0;
    }
    .contacts input {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
    .contacts.mb-100 {
        margin-bottom: 0;
    }
}